.logo-section {
    border-bottom: 1px solid var(--primary-color-light);
    padding: 10px 20px;
    background: #fff;
    border-radius: 10px;
}

.sidebar-innerContainer {
    padding-top: 20px;
}

.logo-section a span {
    padding: 0px 15px;
    font-size: 25px;
    display: inline-block;
    color: #000 !important;
}

.logo-icon {
    font-size: 25px;
    color: #000 !important;
}

ul {
    margin: 0;
    padding: 0;
}

.menu-bar {
    margin: 0;
    padding: 0px 12px;
    position: relative;
}

.dropDown-menu {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    transition: var(--tran-05);

}

.dropDown-menu.active {
    display: none;
    transition: var(--tran-05);
}

.dropDown-menu a {
    background: #f7d5d5;
}


.menu-bar a {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 3px;
    padding: 6px 18px;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    color: #818181;
}

.menu-bar a.active {
    color: var(--sidebar-text-color) !important;
    background: #faa5a5;
}

.menu-bar a:hover {
    color: var(--sidebar-text-color);
    background: #dd7575;
}


/* .miniSidebar {
    opacity: 0;
    visibility: hidden;
} */

.menuIcon {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: var(--body-color);
    font-size: 17px;
    color: #818181;
}

a.active .menuIcon {
    background: crimson;
    color: white;
    transition: var(--tran-04);
}

.arrowIcons {
    transition: var(--tran-02);
}

.arrowIcons span.active {
    color: var(--sidebar-text-color) !important;
    font-size: 18px;
    font-weight: 500;
    transition: var(--tran-02);
}

.header-search {
    max-width: 400px;
    width: 100%;
    transition: var(--tran-04);
    background: #eeeeee;
    border-radius: 8px;
    position: relative;
}


.header-search input {
    width: 100%;
    border-radius: 8px;
    padding: 8px 12px 8px 30px;
    outline: none;
    background: #ececec;
    color: #000;
    border: none !important;
    outline: 0 !important;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 11px;
}

.header-search:hover input::placeholder {
    color: #000;
    font-size: 15px;
}